* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw; 
    height: 100vh; 
    background-color: #94d6ff;
    color: white;
    transition: .3s;
}

.profile-picture, .title, .description, .social-media .rodape {
    position: relative;
    text-align: center;
}

.trilho {
    margin-left: 1vh;
    margin-top: 1vh;
    width: 70px;
    height: 40px;
    background-color: #86cef8;
    flex-direction: column;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador {
    width: 40px;
    height: 40px;
    background-color: #099aee86;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .3s;
    background-color: #fff;
}

.trilho.dark .indicador{
    left: 30px;
    background-color: #242424;
}

.trilho.dark {
    background-color: #33b3fd77;
}

body.dark{
    background-color: #062b4b;
}



.profile-picture img {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

.title {
    font-family: "poppins";
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.subtitulo {
    font-size: 16px;
    color: white;
}

.rodape {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.description p {
    margin: 0 auto;
    width: 65vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.social-media .button {
    display: flex;
    justify-content: center;
    width: 50vh;
    margin: 2vh auto 0 auto;
    
}

.social-media .button a {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
    width: 45vh; 
    height: 50px; 
    font-size: 18px;
    text-decoration: none; 
    color: white;
    border-radius: 5px; 
    transition: background-color 0.15s; 
    font-family: 'Poppins', sans-serif; 
    overflow: hidden; 
}

.social-media .button a i {
    position: absolute; 
    left: 15px; 
    font-size: 20px; 
    color: white;
}

.social-media .button a span {
    flex: 1; 
    text-align: center; 
    line-height: 50px; 
    font-size: 16px;
}

.button {
    background-color: #33b3fd77;
    box-shadow: 7px 8px 0px 0px #1a1919;
    border: 3px solid #1a1919;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50px;
}
.button:hover{
    transform: translateY(-2px);
    transition-duration: 0.3s;
    background-color: #0999ee;

}
.rodape {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media only screen and (max-width: 768px) {
    .description p {
        width: 90%;
        margin: 1vh auto;
        font-size: 13px;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .social-media .button {
        width: 70%; 
        margin: 1vh auto; 
    }

    .social-media .button a {
        width: 100%;
        height: 45px; 
        font-size: 14px; 
    }

    .profile-picture img {
        width: 15vh;
        height: 15vh;
        margin: 1vh auto;

    }
    .button a:hover {
        cursor: default;
    }
    .container{
        overflow: hidden;
    }
    .title {
        font-size: 16px;
    }
}