* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #272729;
    color: white;
}


.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-color: #0f0c25;
    background-size: cover;
    background-position: center;
}


.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw; 
    height: 100vh; 
    object-fit: cover; 
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: saturate(30%);
}


.profile-picture, .title, .description, .social-media .rodape {
    position: relative;
    z-index: 1; 
    text-align: center;
}


.profile-picture img {
    width: 25vh;
    height: 25vh;
    margin: 2vh auto;
    border-radius: 50%;
}

.title {
    margin: 2vh auto;
    font-size: 18px;
    font-weight: bold;
}

.rodape {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.description p {
    margin: 3vh auto;
    width: 50vh;
    text-align: center;
    font-size: 16px;
}

.social-media .button {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.social-media .button a {
    display: inline-block;
    width: 45vh;
    height: 50px;
    line-height: 50px;
    margin: 2px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.15s;
}

.whatsapp {
    border: 2px solid #1DA1F2;
}

.whatsapp:hover {
    border: 2px solid #4cb92a;
    background-color:#4cb92a ;
    transition: border-color 0.3s, background-color 0.3s
}
.linkedin {
    border: 2px solid #1DA1F2;
}

.linkedin:hover {
    border: 2px solid #1c85c7;
    background-color: #1c85c7;
    transition: border-color 0.3s, background-color 0.3s
}

.portfolio {
    border: 2px solid #1DA1F2;
}

.portfolio:hover {
    background-color: #17adad;
    border: 2px solid #00c7c7d5;
    transition: border-color 0.3s, background-color 0.3s
}

.github {
    border: 2px solid #1DA1F2;
}

.github:hover {
    background-color: #ffffff5b;
    border: 2px solid #ffffffaf;
    transition: border-color 0.3s, background-color 0.3s
}

.email {
    border: 2px solid #1DA1F2;
}

.email:hover {
    background-color: #a82222;
    border: 2px solid #c52020dc;
    transition: border-color 0.3s, background-color 0.3s
}

@media only screen and (max-width: 768px) {
    .description p {
        width: 80%;
        margin: 2vh auto;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .button {
        width: 70%;
        margin: 2px auto;
        text-align: center;
    }

    .profile-picture img {
        width: 20vh;
        height: 20vh;
        margin: 2vh auto;
        border-radius: 50%;
    }
    .button a:hover {
        background-color: transparent;
        cursor: default;
    }

    .video-background video {
        height: 100%; 
        width: 100%; 
    }
}